.main_wrapper,
.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    background-color: rgb(161, 194, 226);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wrapper {
    flex: 1;
}

.Navigation {
    width: 15em;
    color: black;
    background-color: rgb(220, 200, 200);
}

.Article {
    background-color: grey;
    color: black;
    margin-bottom: .2em;
}

footer {
    background-color: grey;
    clear: both;
}

img {
    float: right;
}