.normal {
    list-style-type: upper-roman;
}
.normal_li {
list-style-type: upper-roman;
}
ol {
    list-style-type: lower-roman;
}
li
{
    list-style-type: lower-roman;
}
.wrapper {
    width: 400px;
    height: 60px;
    background-color: black;
    color: green;
    display: inline-block;
    overflow-y: auto;
}