.container {
    background-color: rgb(161, 194, 226);
    width: 75em;
}
.Navigation {
width: 15em;
float: left;
color: black;
background-color: rgb(220, 200, 200);
overflow-y: auto;
}
.Article {
background-color: grey;
color: black;
float: left;
width: 60em;
margin-bottom: .2em;
}
footer {
    background-color: rgb(220, 200, 200);
    clear: both;
}
img {
    float: right;
}
h3{
    text-indent: 10mm;
}

